<div id="content">
  <header>
    <h2 class="page_title">Edit article</h2>
  </header>

  <div class="content-inner">
    <div class="form-wrapper">
      <%= render 'form', micropost: @micropost %>
    </div>
    <%= link_to 'Back', admin_microposts_path %>
  </div>
</div>
