<div id="content">
  <header>
    <h2 class="page_title">New Category</h2>
  </header>

  <div class="content-inner">
    <div class="form-wrapper">
      <%= render 'form', admin_category: @admin_category %>
    </div>
    <%= link_to 'Back', admin_categories_path %>
  </div>
</div>


