<div id="content">
  <header>
    <h2 class="page_title">Create User</h2>
  </header>

  <div class="content-inner">
    <div class="form-wrapper">
      <%= render 'form', admin_user: @admin_user %>
    </div>
    <%= link_to 'Back', admin_users_path %>
  </div>

</div>

