<div class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
  <h1 class="hidden-xs hidden-sm">Navigation</h1>
  <ul>

    <li class="link active">
      <%= link_to admin_users_path do%>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="hidden-sm hidden-xs">User</span>
      <% end %>
    </li>

    <li class="link">
      <%= link_to admin_categories_path do%>
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        <span class="hidden-sm hidden-xs">Category</span>
      <% end %>
    </li>

    <li class="link">
      <a href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <span class="hidden-sm hidden-xs">Article</span>
        <span class="label label-success pull-right hidden-xs hidden-sm">20</span>
      </a>
      <ul class="collapse collapseable" id="collapse-post">
        <li><%= link_to "Create New", new_admin_micropost_path %></li>
        <li><%= link_to "View Article", admin_microposts_path %></li>
      </ul>
    </li>
  </ul>
</div>
